#main_content{
 margin: 1% 5% 1% 5%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#progress1 {
  width: 100%;
  background-color: grey;
}

#bar1 {
  width: 1%;
  height: 30px;
  background-color: green;
}


body {
//color: #93a1a1;
//background-color: #eee8d5;

}
