.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #2836f4;
  background-color: #2836f4;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
