{% extends "base.html" %}
{% block title %}Download Model{% endblock %}

{% block content %}
</p>
		<button type="button" class="btn btn-primary" value="Generate" name="model_dl" onclick="window.open('{{ url_for( 'download_pickle' )+"?model="+index|string }}');">Download .pickle</button>
		<button type="button" class="btn btn-primary" value="Generate" name="model_dl" onclick="window.open('{{ url_for( 'download_joblib' )+"?model="+index|string }}');">Download .joblib</button>
		<!-- <button type="button" class="btn btn-primary" value="Generate" name="model_dl" onclick="window.open('{{ url_for( 'download_pmml' )+"?model="+index|string }}');">Download .pmml</button> -->
</p>
{% if not row_data %}
<p>Not supported for this classifier</p>
{% else %}
{% include "base_results.html" %}
{% endif %}
{% endblock %}
