{% extends "base.html" %}
{% block title %}Autosklearn{% endblock %}
{% block head %}
    	{{ super() }}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
	//clears page cache
	$(window).bind("pageshow", function() {
	    var form = $('form'); 
	    // let the browser natively reset defaults
	    form[0].reset();
	}); 
        </script>



	<script>
	//toggle all
	function toggle_est(source) {
	    var checkboxes = document.querySelectorAll('div.estm input[type="checkbox"]');
	    for (var i = 0; i < checkboxes.length; i++) {
		if (checkboxes[i] != source)
		    checkboxes[i].checked = source.checked;
	    }
	}
	</script>


	<script>
	//toggle all
	function toggle_pre(source) {
	    var checkboxes = document.querySelectorAll('div.prep input[type="checkbox"]');
	    for (var i = 0; i < checkboxes.length; i++) {
		if (checkboxes[i] != source)
		    checkboxes[i].checked = source.checked;
	    }
	}
	</script>

	<script>
	//toggle all
	function toggle_features(source) {
	    var checkboxes = document.querySelectorAll('div.features input[type="checkbox"]');
	    for (var i = 0; i < checkboxes.length; i++) {
		if (checkboxes[i] != source)
		    checkboxes[i].checked = source.checked;
	    }
	}
	</script>



	<script>
	//checkbox checker, not using now
	$(document).ready(function(){
    		var requiredCheckboxes = $('.cl-checkbox :checkbox[required]');
    		requiredCheckboxes.change(function(){
        		if(requiredCheckboxes.is(':checked')) {
            			requiredCheckboxes.removeAttr('required');
       			 } else {
            			requiredCheckboxes.attr('required', 'required');
        		}
    		});
	});
	</script>
	



{% endblock %}

{% block content %}
<form method="post" action="/features" enctype="multipart/form-data">
    <dl>
	    	<div class="row">
		<div  >
		<div id="cl_div" >
		<h4><p>Select Features</p></h4>
		<input type="checkbox" checked onclick="toggle_features(this);" />&nbsp; Toggle all<br />
		<p>
		<div class="form-check features" >
		{% for ft in FEATURES %}
	    		<nobr>
			<label><img width=250  src="static/images/figs/{{loop.index0}}.png"><figcaption><input type="checkbox" name="features_ls" value="{{ft}}" checked >
{{ft}}</figcaption> &nbsp; &nbsp; </label>
			</nobr>
		{% endfor %}
		</div>
		</p>
	
		</div>
		</div>
    </dl>
    <p>
		<button type="submit" class="btn btn-primary">Next</button>
	</p>
</form>

{% endblock %}
