{% extends "base.html" %}
{% block title %}Autosklearn{% endblock %}
{% block head %}
    	{{ super() }}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
	$(window).bind("pageshow", function() {
	    var form = $('form'); 
	    // let the browser natively reset defaults
	    form[0].reset();
	});
        </script>

	<script type="text/javascript">

	$(document).on('change', '.custom-file-input', function (event) {
    		$(this).next('.custom-file-label').html(event.target.files[0].name);
		})
        </script>
	<div id="header_bar">
	<img id="banner" src ="static/images/status/status1.svg">
     </div>

{% endblock %}

{% block content %}
<form method="post" action="/iautosklearn/" enctype="multipart/form-data">
    <dl>		
	    	<h4><p>Select Task</p></h4>
		<p>
		    <input type="radio" name="task" value="classification" required > Classification
		    <input type="radio" name="task" value="regression"> Regression
		</p>
		

 <!--		<h4><p>Select Dataset Format</p></h4>
		<p>
		    <input type="radio" name="data_type" value="csv" required> CSV
		    <input type="radio" name="data_type" value="numpy"> Numpy Array
		</p>
-->	
		<h4><p>Upload Dataset </p></h4>
		
		<p>

		  <div class="form-group w-25">
		  <div class="custom-file">
			    <input type="file" name="file" class="custom-file-input" id="inputDataset" required>
			        <label class="custom-file-label" for="inputDataset">Choose file</label>

		  </div>
		  </div>
		</p>
    </dl>
    <p>
		<button type="submit" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModalCenter">Next</button>
	</p>
</form>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Loading</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please Wait...
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


{% endblock %}
