<html>
    <head>
	<title>Running</title>
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            $(function () { 
                //$("#content").load("/run_optimize"); 
		window.location.replace("/progress");
            });
        </script>
	<script> 
	var t=0;
	var x = setInterval(function() { 
	//var now = new Date().getTime(); 
	t+=1; 
	var days = Math.floor(t / ( 60 * 60 * 24)); 
	var hours = Math.floor((t%(60 * 60 * 24))/( 60 * 60)); 
	var minutes = Math.floor((t % (60 * 60)) / ( 60)); 
	var seconds = Math.floor((t % ( 60)) ); 

	if(minutes<1){
	document.getElementById("timer").innerHTML = 
			 seconds + "s "; 
	}

	else if(hours<1){
	document.getElementById("timer").innerHTML =  
			 minutes + "m " + seconds + "s "; 
	}

	else if(days<1){
	document.getElementById("timer").innerHTML =   
			 hours + "h " + minutes + "m " + seconds + "s "; 
	}
	else{
	document.getElementById("timer").innerHTML = days + "d "  
			+ hours + "h " + minutes + "m " + seconds + "s "; 
	}
	}, 1000); 
	</script> 
	 
    </head>
    <body>
	    <div id="content">
		    <h1>Running {{task}} task for {{time}} seconds... {{turn+1}}/{{iters}}</h1>
		    <h1><span>Current Period: </span><span id="timer"></span><span>/{{PERIOD}}</span></h1>
	    </div>
	<table>
	    <tr>
		{% for col in column_names %}
		<th>{{col}}</th>
		{% endfor %}
	    </tr>
	    {% for row in row_data %}
    	    {% set outer_loop = loop %}
	    <tr>
		{% for col, row_ in zip(column_names, row) %}
		{% if col == "Details" %}
		<td>
            	<button type="button" value={{row_ }} name="model_id" onclick="window.open('{{ url_for( 'view_model' )+"?model="+ outer_loop.index0|string }}');">
			{{ row_ }}
		    </button>
		</td>
		{% else %}
		<td>{{row_}}</td>
		{% endif %}
		{% endfor %}
	    </tr>
	    {% endfor %}

	</table>


    </body>
</html>
