<html>
    <head>
	<title>Running</title>
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            $(function () { 
                //$("#content").load("/run_optimize"); 
		window.location.replace("/progress");
            });
        </script>
    </head>
    <body>
	    <div id="content">
		    <h1>Running {{task}} task for {{time}} seconds...{{turn}}</h1>
	    </div>
	<table>
	    <tr>
		{% for col in column_names %}
		<th>{{col}}</th>
		{% endfor %}
	    </tr>
	    {% for row in row_data %}
	    <tr>
		{% for col, row_ in zip(column_names, row) %}
		{% if col == link_column %}
		<td>
		    <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
			{{ row_ }}
		    </button>
		</td>
		{% else %}
		<td>{{row_}}</td>
		{% endif %}
		{% endfor %}
	    </tr>
	    {% endfor %}

	</table>


    </body>
</html>
