{% extends "base.html" %}
{% block title %}Autosklearn{% endblock %}
{% block head %}
    	{{ super() }}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
	//clears page cache
	$(window).bind("pageshow", function() {
	    var form = $('form'); 
	    // let the browser natively reset defaults
	    form[0].reset();
	}); 
        </script>



	<script>
	//toggle all
	function toggle_est(source) {
	    var checkboxes = document.querySelectorAll('div.estm input[type="checkbox"]');
	    for (var i = 0; i < checkboxes.length; i++) {
		if (checkboxes[i] != source)
		    checkboxes[i].checked = source.checked;
	    }
	}
	</script>


	<script>
	//toggle all
	function toggle_pre(source) {
	    var checkboxes = document.querySelectorAll('div.prep input[type="checkbox"]');
	    for (var i = 0; i < checkboxes.length; i++) {
		if (checkboxes[i] != source)
		    checkboxes[i].checked = source.checked;
	    }
	}
	</script>

	<script>
	//toggle all
	function toggle_features(source) {
	    var checkboxes = document.querySelectorAll('div.features input[type="checkbox"]');
	    for (var i = 0; i < checkboxes.length; i++) {
		if (checkboxes[i] != source)
		    checkboxes[i].checked = source.checked;
	    }
	}
	</script>



	<script>
	//checkbox checker, not using now
	$(document).ready(function(){
    		var requiredCheckboxes = $('.cl-checkbox :checkbox[required]');
    		requiredCheckboxes.change(function(){
        		if(requiredCheckboxes.is(':checked')) {
            			requiredCheckboxes.removeAttr('required');
       			 } else {
            			requiredCheckboxes.attr('required', 'required');
        		}
    		});
	});
	</script>
	



{% endblock %}

{% block content %}
<form method="post" action="/target_class" enctype="multipart/form-data">
	    	<div class="row">
		<div class="col-8" >
		<div id="cl_div" >
				
		<h4><p>Select Metric</p></h4>
		<p>
		<div class="form-radio">
		{% for mt in METRICS %}
			<nobr>
			{% if mt==pre_metric %}
			<input type="radio" name="metric" value="{{mt}}" required checked>
			<label>{{mt}} &nbsp; &nbsp; </label>
		 	{% else %}	
			<input type="radio" name="metric" value="{{mt}}" required>
			<label>{{mt}} &nbsp; &nbsp; </label>
			{% endif %}
			</nobr>
		{% endfor %}
		</div>
		</p>

	
		{% if TASK=="classification" %}
		<h4><p>Use SMOTE(for imbalanced dataset)</p></h4>
		<p>
		<div class="form-radio">
			<input type="radio" name="smote" value="yes" required>
			<label>Yes </label>
			<input type="radio" name="smote" value="no" required checked>
			<label>No </label>
		</div>
		</p>

			<p> Imbalanced Dataset: {{ratio|string}}
			</p>
		{% endif %}
			<img class="target_plt"  src="static/images/figs/target.png"><figcaption>Target Class</figcaption>
    <p>
		<button type="submit" class="btn btn-primary">Next</button>
	</p>
</form>

{% endblock %}
