{% extends "base.html" %}
{% block title %}Autosklearn{% endblock %}
{% block head %}
    	{{ super() }}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
	$(window).bind("pageshow", function() {
	    var form = $('form'); 
	    // let the browser natively reset defaults
	    form[0].reset();
	});
        </script>


{% endblock %}

{% block content %}
<form method="post" action="/params" enctype="multipart/form-data">
    <dl>
	    	<div class="row">
				<div class="col">
		<div id="cl_div" >
		<p>Select Classifiers</p>
		<p>
		<div class="form-check">
		{% for cl in ESTIMATORS %}
			<nobr>
	    		<input type="checkbox" name="estim_ls" value="{{cl}}" checked > 
	    		<label>{{cl}}</label>
			</nobr>
		{% endfor %}
		</div>
		</p>
		<p>Select Preprocessors</p>
		<p>
		<div class="form-check">
		{% for pr in PREPROCESSORS %}
	    		<nobr>
			<input type="checkbox" name="prep_ls" value="{{pr}}" checked >
	    		<label>{{pr}}</label>
			</nobr>
		{% endfor %}
		</div>
		</p>
		</div>
		</div>
		
		<div class="col">
	    	<div id="meta_data" >
	    	<h1>
			Meta Data Reccomendation: {{REC}}
		</h1>
		{% include "base_results.html" %}
		</div>
		</div>

	


		</div>	
		
		<p>Enter Time Budget in seconds (minimum 30)</p>
	    	<p>	
		      <div class="form-group w-25">
			<input type="text" class="form-control" name="time" required>
		      </div>
		</p>
	    	<p>Enter Update Period in seconds (minimum 30)</p>
	    	<p>	
		      <div class="form-group w-25">
			<input type="text"class="form-control"  name="period" required>
		      </div>
		</p>
    </dl>
    <p>
		<button type="submit" class="btn btn-primary">Start</button>
	</p>
</form>
{% endblock %}
