{% extends "base.html" %}
{% block title %}Autosklearn{% endblock %}
{% block head %}
    	{{ super() }}
	<script type="text/javascript">

	function show_cl(){
	  document.getElementById('cl_div').style.display ='block';
	  document.getElementById('rg_div').style.display ='none';
	}
	function show_rg(){
	  document.getElementById('rg_div').style.display = 'block';
	  document.getElementById('cl_div').style.display = 'none';
	}
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
	$(window).bind("pageshow", function() {
	    var form = $('form'); 
	    // let the browser natively reset defaults
	    form[0].reset();
	});
        </script>

	<script type="text/javascript">

	$(document).on('change', '.custom-file-input', function (event) {
    		$(this).next('.custom-file-label').html(event.target.files[0].name);
		})
        </script>

{% endblock %}

{% block content %}
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>Select Task</p>
		<p>
		    <input type="radio" name="task" onclick ="show_cl();"  value="classification" required > Classification
		    <input type="radio" name="task" onclick="show_rg();" value="regression"> Regression
		</p>
		<div id="cl_div" style="display:none">
		<p>Select Classifiers</p>
		<p>
		<div class="form-check">
		{% for cl in CLASSIFIERS %}
	    		<input type="checkbox" name="classifier_ls" value="{{cl}}" checked > 
	    		<label>{{cl}}</label>
		{% endfor %}
		</div>
		</p>
		<p>Select Preprocessors</p>
		<p>
		<div class="form-check">
		{% for pr in PREPROCESSORS_CL %}
	    		<input type="checkbox" name="prep_cl" value="{{pr}}" checked >
	    		<label>{{pr}}</label>
		{% endfor %}
		</div>
		</p>

		</div>
		<div id="rg_div" style="display:none">
		<p>Select Regressors</p>
	    	<p>
		<div class="form-check">
		{% for rg in REGRESSORS %}
	    		<input type="checkbox" name="regressor_ls" value="{{rg}}" checked >
	    		<label>{{rg}}</label>
		{% endfor %}
		</div>
		</p>
		<p>Select Preprocessors</p>
		<p>
		<div class="form-check">
		{% for pr in PREPROCESSORS_RG %}
	    		<input type="checkbox" name="prep_rg" value="{{pr}}" checked  >
	    		<label>{{pr}}</label>
		{% endfor %}
		</div>
		</p>

		</div>

		
		
		<p>Enter Time Budget in seconds (minimum 30)</p>
	    	<p>	
		      <div class="form-group w-25">
			<input type="text" class="form-control" name="time" required>
		      </div>
		</p>
	    	<p>Enter Update Period in seconds (minimum 30)</p>
	    	<p>	
		      <div class="form-group w-25">
			<input type="text"class="form-control"  name="period" required>
		      </div>
		</p>
		<p>Select Dataset Format</p>
		<p>
		    <input type="radio" name="data_type" value="csv" required> CSV
		    <input type="radio" name="data_type" value="numpy"> Numpy Array
		</p>
	    	<p>Upload Dataset </p>
		
		<p>

		  <div class="form-group w-25">
		  <div class="custom-file">
			    <input type="file" name="file" class="custom-file-input" id="inputDataset" required>
			        <label class="custom-file-label" for="inputDataset">Choose file</label>

		  </div>
		  </div>
		</p>
    </dl>
    <p>
		<button type="submit" class="btn btn-primary">Start</button>
	</p>
</form>
{% endblock %}
